body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
      margin-top: 1.4em;
    }

label {
  display: block;
  margin-top: 6px;
}
select, input[type="checkbox"] {
  margin-top: 4px;
}
button {
  margin-top: 20px;
  padding: 10px 16px;
  font-size: 1rem;
  cursor: pointer;
}
table {
  border-collapse: collapse;
  margin-top: 25px;
  width: 100%;
}
th, td {
  border: 1px solid #ccc;
  padding: 6px 10px;
  text-align: left;
}
th {
  background: #f4f4f4;
}
canvas {
  margin-top: 30px;
  border: 1px solid #ccc;
}    
.pgs {
  padding-left:16px;
  padding-right:16px; 
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: orange;
  color: white;
}

.bar {
  touch-action: none;
}
